body {
  padding: 50px;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.svg {
  width: 400px;
  height: 300px;
  border: 1px solid #000;
  margin-bottom: 50px;
}

.text {
  font-size: 24px;
  fill: #000;
}

.svg-text {
  overflow: visible;
}

.rect {
  stroke: brown;
  stroke-width: 10px;
  fill: none;
  stroke-dasharray: 700px;
  stroke-dashoffset: 700px;
  transition: all 0.5s ease-in-out;
}

.svg-rect:hover .rect,
.svg-circle:hover .circle {
  stroke-dashoffset: 0;
}

.circle {
  stroke-dasharray: 314;
  stroke-dashoffset: calc(2 * 50 * 3.14); /*2*3.14*r = 314 */
  transition: all 0.5s ease-in-out;
}
/* 314 */
