body {
  padding: 50px;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.svg {
  width: 400px;
  height: 300px;
  border: 1px solid #000;
  margin-bottom: 50px;
}

.text {
  font-size: 24px;
  fill: #000;
}

.svg-text {
  overflow: visible;
}

.rect {
  stroke: brown;
  stroke-width: 10px;
  fill: none;
  stroke-dasharray: 700px;
  stroke-dashoffset: 700px;
  transition: all 0.5s ease-in-out;
}

.svg-rect:hover .rect,
.svg-circle:hover .circle,
.apple-whole:hover .apple-whole-path {
  stroke-dashoffset: 0;
}

.circle {
  stroke-dasharray: 314;
  stroke-dashoffset: calc(2 * 50 * 3.14); /*2*3.14*r = 314 */
  transition: all 0.5s ease-in-out;
}

.apple-brand .apple-brand-path {
  fill: greenyellow;
  opacity: 0.5;
}

.apple-whole {
  overflow: visible;
}

.apple-whole-path {
  fill: none;
  stroke: brown;
  stroke-width: 10px;
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  transition: all 0.5s ease-in-out;
}

.image {
  display: block;
  width: 300px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.image-apple {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.image-apple-1 {
  clip-path: url(#apple);
}

.polyline {
  stroke-linejoin: round;
}

.line {
  stroke-width: 40px;
  stroke-linecap: round;
}
